.todoListContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
}
.todos {
  font-family: 'roboto';
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}
.button {
  height: 36px;
  width: 120px;
  background-color: transparent;
  border: 1px solid #ff0b37;
  color: #ff0b37;
  font-family: 'roboto';
  font-size: 13px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
